# APK Hoster Configuration
APP_NAME=ultrasonic
PORT=8275

# Local path where APKs are stored
DIST_DIR=dist

# Upload Security
ADMIN_PASS=
ULTRASONIC_PASSWORD=
ALLOWED_IPS=

# Database Configuration
# DB_TYPE: 'sqlite' or 'mysql'
DB_TYPE=sqlite
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USER=apk-hoster
MYSQL_PASSWORD=
MYSQL_DATABASE=apk-hoster
MYSQL_ROOT_PASSWORD=

# Docker Configuration
DOCKER_IMAGE=tsshadow/apk-hoster

# Remote Deployment (for scripts/deploy.sh)
REMOTE_HOST=
REMOTE_USER=root
REMOTE_PASS=
REMOTE_DIST_PATH=/mnt/teun/ultrasonic-builds
DEPLOY_TARGET_NAME=APK Hoster
