# APK Hoster Configuration
APP_NAME=APK Hoster
PORT=8275

# Local path where APKs are stored
DIST_DIR=dist

# Upload Security
ADMIN_PASS=
ULTRASONIC_PASSWORD=
ALLOWED_IPS=

# Database Configuration
# DB_TYPE: 'sqlite' or 'mysql'
DB_TYPE=sqlite
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USER=apk-hoster
MYSQL_PASSWORD=
MYSQL_DATABASE=apk-hoster
MYSQL_ROOT_PASSWORD=
